{
  "presets": [
    [
      "@babel/preset-env", {
        "modules": false
      }
    ],
    [
      "@babel/preset-react", {
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "@babel/external-helpers"
    ],
    [
      "@babel/transform-runtime"
    ],
    [
      "@babel/plugin-proposal-class-properties",
    ],
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "src",
        "rootPathPrefix": "~"
      }
    ]
  ]
}
